html{
    background: url(images/tokyo.jpg) no-repeat center center fixed;
    background-size: cover;
}
body{
    margin: 0;
}
nav.navbar{
    background-color: powderblue;
    height: 300%;
    width: 100%;
    display: flex;
    justify-content: right;
}
a.logo{
    height: 70px;
    position: absolute;
    left: 0px;
    top: 1px;
}
a.nav, .buy{
    color: midnightblue;
    font-size: 1.3em;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: verdana;
    margin-right: 5%;
    padding-top: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}
a.buy{
    background-color: gold;
    border-radius: 15px;
    transition: 250ms;
    padding-left: 3px;
    padding-right: 3px;
    box-shadow: -2px 2px 10px 0.5px gray ;
}
a.buy:hover, a.bookp{
    background-color: gray;
    color: whitesmoke;
    box-shadow: none;
    transform: scale(0.95);
}
a.nav:hover, a.cur{
    color: red;
    text-decoration: underline;
}
section.bigimg{
    width: 100%;
    height: 750px;
    display: flex;
}
div.texts{
    position: absolute;
    text-align: center;
    color: aliceblue;
    font-family: verdana;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.gradient{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 750px;
    width: 100%;
}
p.title{
    font-size: 6em;
    font-weight: bold;
    margin-bottom: 0;
    animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow{
    from{text-shadow: 0 0 20px skyblue;}
    to{text-shadow: 0 0 30px blue;}
}
p.desc{
    position: absolute;
    font-size: 1.5em;
    top: 89%;
    left: 9%;
    animation: colorchange 3s ease-in-out infinite alternate;
}
@keyframes colorchange{
    from{color: whitesmoke;}
    to{color: crimson;}
}
section.infocontainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: whitesmoke;
    padding-top: 50px;
    width: 100%;
}
div.infoleft, div.inforight{
    width: 550px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    transition: 250ms;
}
div.inforight{
    padding-top: 10%;
}
div.infoleft:hover{
    transform: scale(1.01);
    filter: blur(3px);
}
h1.areaname{
    font-size: 2.5em;
    font-family: verdana;
}
p.data{
    font-size: 1.5em;
    text-align: left;
    font-family: verdana;
    color: gray;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
div.book{
    padding-left: 38%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
}
ul.list{
    width: 100%;
    align-content: center;
    padding-bottom: 100px;
    text-align: center;
}
dt.title{
    font-size: 2em;
    font-weight: bold;
    font-family: verdana;
    color: tomato;
}
div.points{
    font-size: 1.3em;
    display: inline-block;
    text-align: left;
    font-family: sans-serif;
    padding-top: 2em;
}
footer.contact{
    width: 100%;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 50px;
}
div.footinfo{
    width: 420px;
    height: 200px;
}
h1.foottitle{
    color: whitesmoke;
    font-family: Verdana;
    font-size: 1.5em;
}
.footlist{
    font-size: 1.3em;
    font-family: verdana;
    color: gray;
    text-decoration: none;
    padding-bottom: 4px;
    transition: 250ms;
    margin: 0;
}
a.footlist:hover{
    padding-left: 7px;
}
footer.credit{
    width: 100%;
    text-align: center;
    background-color: wheat;
}
p.credittxt{
    font-size: 1.3em;
    font-family: verdana;
    margin: 0;
}
div.infocard{
    width: 350px;
    text-align: center;
    height: 400px;
    padding: 5px;
}
h2.infotitle{
    font-family: verdana;
    color: tomato;
    font-size: 1.7em;
}
div.booking{
    width: 300px;
    height: 450px;
    border-radius: 15px;
    transition: 250ms;
    border: solid rgb(145, 145, 145);
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}
div.booking:hover{
    transform: scale(1.01);
    box-shadow: -2px 2px 10px 0.5px gray ;
}
img.bookimg{
    width: 100%;
    height: 225px;
}
img.bookimg:hover{
    filter: brightness(0.6);
}
h3.booktitle{
    font-family: verdana;
    color: orangered;
    font-size: 1.6em;
    margin-top: 5px;
    margin-bottom: 5px;
}
p.bookdesc{
    font-family: verdana;
    color: gray;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    margin-bottom: 15px;
}
p.price{
    font-family: verdana;
    font-size: 1.5em;
    color: crimson;
    font-weight: bold;
    margin-top: 5px;
    display: inline;
}
p.old{
    text-decoration: line-through;
    font-size: 1.3em;
    color: slategrey;
    font-family: verdana;
    display: inline;
}
p.disc{
    color: gray;
    font-size: 1.2em;
    text-align: center;
    margin-top: 0px;
    font-family: verdana;
}
table.table{
    border: 1px solid whitesmoke;
    font-family: verdana;
    text-align: center;
    font-size: 2em;
    background-color: whitesmoke;
    color: gray;
    padding-bottom: 30px;
}
.tabletitle{
    background-color: tomato;
    color: whitesmoke;
    font-weight: bold;
}
td{
    width: 300px;
    height: 10px;
}