*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
:root{
    --primarycolor: rgb(0, 255, 190);
    --primarydark: rgb(255, 190, 0);
    --primarylight: rgb(190, 0, 255);
}

h1{
    background-color: var(--primarylight);
    text-align: center;
    padding: 1em;
    color: var(--primarycolor);
}