*{box-sizing: border-box;}
html{
    scroll-behavior: smooth;
}
:root{
    --primarycolor: rgb(174, 63, 113);
    --primarydark: rgb(30, 39, 97);
    --primarylight: rgb(160, 202, 233);
}
header.bimg{
    width: 100%;
}
nav.navibar{
    background-color: var(--primarydark);
}
a.navi, h3.titles{
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
    color: var(--primarycolor);
    transition: 400ms;
    font-size: 1.8em;
}
a.navi:hover, a.cur{
    text-decoration: underline;
    color: var(--primarylight);
}

div.links{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}
h1{
    text-align: left;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 2em;
    margin: 0;
    color: var(--primarycolor);
}
div.bar{
    background-color: var(--primarylight);
    position: relative;
}
div.bigtext{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    color: var(--primarylight);
}
h2.text{
    font-size: 3em;
    font-family: serif;
}
div.card{
    padding: 0;
}
footer{
    background-color: var(--primarydark);
}
p.foot{
    color: var(--primarylight);
    font-size: 1.15em;
    padding-left: 0.4em ;
    margin-top: 0.8em;
}
h3.foothead{
    color: var(--primarycolor);
    margin-top: 1em;
    font-size: 2em;
}
body{
    margin: 0;
    background-color: var(--primarylight);
}
ul.socials{
    list-style-type: none;
    padding-left: 0;
    display: flex;
}
img.icon, img.ic{
    width: 2em;
    filter: invert(100%) opacity(0.7);
    transition: 500ms;
}
li{
    padding-left: 1em;
    display: flex;
}
img.icon:hover{
    filter: invert(100%) opacity(1);
}
ul.footli{
    list-style-type: none;
    padding-left: 0;
}
a.footi{
    text-decoration: none;
    font-size: 1.15em;
    color: var(--primarylight);
    transition: 250ms;
}
a.footi:hover{
    padding-left: 7px;
}
div.signup{
    width: 30%;
    height: auto;
    margin-top: 10%;
    border: solid;
    border-radius: 1em;
    text-align: center;
    border-color: var(--primarycolor);
}